/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





/*  CSSZIN  */

body {
    background-color: #59ed9ecb;
    height: 100vh;
}

header {
    align-items: center;
    color: #722aa5;
    display: flex;
    font-size: 10vh;
    font-weight: 600;
    height: 20vh;
    justify-content: center;
}

main {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 60vh;
    justify-content: center;
    text-transform: uppercase;
}

main h3 {
    font-size: 5vh;
    margin-left: 1.5vh;
    margin-top: 1vh;
}

main h4 {
    font-size: 4vh;
    margin-left: 1vh;
}

footer {
    align-items: flex-start;
    display: flex;
    height: 20vh;
    justify-content: center;
}

footer button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #722aa5;
    cursor: pointer;  
    font-size: 4vh;
    font-weight: 600;
    margin-top: 5vh;
}

/*  CARDS  */

#template105 {
    display: grid;
    grid-template-areas:"a i b"
                        "c i d"
                        "e j f"
                        "g j h";
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;

}

#templateA5329 {
    display: grid;
    grid-template-areas:"a i b"
                        "a i b"
                        "a i b"
                        "c i d"
                        "c k d"
                        "c k d"
                        "e k f"
                        "e k f"
                        "e j f"
                        "g j h"
                        "g j h"
                        "g j h";
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;

}

#template4678 {
    display: grid;
    grid-template-areas:"a i b"
                        "a i b"
                        "a i b"
                        "a k b"
                        "c k d"
                        "c k d"
                        "c l d"
                        "c l d"
                        "e l f"
                        "e j f"
                        "e j f"
                        "e j f";
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;  
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;
}

#templateJ {

    border: double 10px #cbc48c;
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./cartas/Jack.jpg);
    background-position: center;
    background-size: 105%;
    background-repeat: no-repeat;
    
}

#templateQ {
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./cartas/Queen.jpg);
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}

#templateK {
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./cartas/King.jpg);
    background-position: center;
    background-size: 108%;
    background-repeat: no-repeat;
}

#templateJoker {
    height: 40vh;
    width: 25vh;
    margin-top: 10.7vh;
    font-size: 50px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./cartas/joker.jpg);
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
}

.a {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.b {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.c {
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e {
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.f {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.g {
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.h {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.i {
    grid-area: i;
    display: flex;
    align-items: center;
    justify-content: center;
}

.j {
    grid-area: j;
    display: flex;
    align-items: center;
    rotate: 180deg;
    justify-content: center;
}

.k {
    grid-area: k;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l {
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

#outerTemplate{
    height: 64vh;
    width: 41vh;
    display: flex;
    border: solid #000 5px;
    border-radius: 20px;
    font-size: 45px;
    background-color: #f6f6f6;
}

#outerLetter {
    margin: 0;
    display: inline;
    width: 9vh;
    font-size: 8vh;
}

#nipe {
    margin: 0;
    display: inline;
    font-size: 50px;
    margin-top: 0px;
}

p {
    margin: 0;
}

#outerLetterEnd {
    margin: 0;
    display: inline;
    width: 9vh;
    font-size: 8vh;
    rotate: 180deg;
}

#outerLetter {
    margin-left: 1vh;
}

#outerLetterEnd {
    margin-right: 1vh;
}

#nipe {
    margin-left: 0;
}