/*  CSS RESET  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}





/*  CSSZIN  */

body {
    background-color: #5992edcb;
    height: 100vh;
}

header {
    align-items: center;
    color: #c9f455c0;
    display: flex;
    font-size: 10vh;
    font-weight: 600;
    height: 20vh;
    justify-content: center;
}

main {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 60vh;
    justify-content: center;
    text-transform: uppercase;
}


#cardSlot {
    background-color: #f6f6f6;
    background-image: url(./assets/cardbg2.jpg);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: contain;
    border: 4px solid #000000;
    border-radius: 12px;
    display: flex;
    height: 55vh;
    width: 35vh;
}


main h3 {
    font-size: 5vh;
    margin-left: 1.5vh;
    margin-top: 1vh;
}

main h4 {
    font-size: 4vh;
    margin-left: 1vh;
}

footer {
    align-items: flex-start;
    display: flex;
    height: 20vh;
    justify-content: center;
}

footer button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;  
    font-size: 4vh;
    font-weight: 600;  
}
