body {
    display: flex;
}

#template105 {
    display: grid;
    grid-template-areas:"a i b"
                        "c i d"
                        "e j f"
                        "g j h";
    height: 56vh;
    width: 35vh;
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    margin-top: 15vh;
}

#templateA5329 {
    display: grid;
    grid-template-areas:"a i b"
                        "a i b"
                        "a i b"
                        "c i d"
                        "c k d"
                        "c k d"
                        "e k f"
                        "e k f"
                        "e j f"
                        "g j h"
                        "g j h"
                        "g j h";
    height: 56vh;
    width: 35vh;
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    margin-top: 15vh;
}

#template4678 {
    display: grid;
    grid-template-areas:"a i b"
                        "a i b"
                        "a i b"
                        "a k b"
                        "c k d"
                        "c k d"
                        "c l d"
                        "c l d"
                        "e l f"
                        "e j f"
                        "e j f"
                        "e j f";
    height: 56vh;
    width: 35vh;    
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    margin-top: 15vh;

}

#templateJ {
    height: 88vh;
    width: 55vh;
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./Jack.jpg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

#templateQ {
    height: 88vh;
    width: 55vh;
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./Queen.jpg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    margin-top: 15vh;
}

#templateK {
    height: 88vh;
    width: 55vh;
    border: double 10px #cbc48c;
    font-size: 70px;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./King.jpg);
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

#templateJoker {
    width: 55vh;
    font-size: 45px;
    border: double 10px #cbc48c;
    border-radius: 10px;
    background-color: #fbf6cc;
    background-image: url(./cartas/joker.jpg);
    background-position: center;
    background-size: 98%;
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.a {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.b {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.c {
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e {
    grid-area: e;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.f {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.g {
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.h {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

.i {
    grid-area: i;
    display: flex;
    align-items: center;
    justify-content: center;
}

.j {
    grid-area: j;
    display: flex;
    align-items: center;
    rotate: 180deg;
    justify-content: center;
}

.k {
    grid-area: k;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l {
    grid-area: l;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 180deg;
}

#outerTemplate{
    height: 89vh;
    width: 57vh;
    display: flex;
    border: solid #000 5px;
    border-radius: 20px;
    font-size: 45px;
}

#outerLetter {
    margin: 0;
    display: inline;
    width: 9vh;
    font-size: 60px;
}

#nipe {
    margin: 0;
    display: inline;
    font-size: 70px;
    margin-top: 0px;
}

p {
    margin: 0;
}

#outerLetterEnd {
    margin: 0;
    display: inline;
    width: 9vh;
    font-size: 60px;
    rotate: 180deg;
}